
body{

font-family: 'Inter', sans-serif;

background:white;

color:#1f2937;

}


/* NAVBAR */

.navbar{

background:white;

box-shadow:0 3px 15px rgba(0,0,0,0.05);

}

.navbar-brand{

font-weight:700;

font-size:22px;

}



/* HOME */

.home-section{

min-height:100vh;

display:flex;

align-items:center;

background:linear-gradient(to right,#f8fafc,#eef2ff);

}


.hire-badge{

background:#e0e7ff;

padding:8px 20px;

border-radius:30px;

display:inline-block;

margin-bottom:20px;

}


.dot{

height:10px;

width:10px;

background:#22c55e;

border-radius:50%;

display:inline-block;

margin-right:10px;

animation:blink 2s infinite;

}


@keyframes blink{

50%{opacity:.3;}

}


.home-title{

font-size:60px;

font-weight:700;

}


.gradient-text{

background:linear-gradient(90deg,#4f46e5,#06b6d4);



color:transparent;

}


.home-role{

margin:15px 0;

}


.home-desc{

margin-bottom:30px;

}



/* BUTTON */

.btn-main{

background:#4f46e5;

color:white;

padding:14px 32px;

border-radius:10px;

text-decoration:none;

border:none;

margin-right:10px;

transition:.3s;

}


.btn-main:hover{

background:#4338ca;

transform:translateY(-3px);

}


.btn-outline-main{

border:2px solid #4f46e5;

padding:14px 32px;

border-radius:10px;

color:#4f46e5;

text-decoration:none;

transition:.3s;

}


.btn-outline-main:hover{

background:#4f46e5;

color:white;

}



/* IMAGE */

.image-container{

position:relative;

display:inline-block;

}


.blob{

position:absolute;

width:350px;

height:350px;

background:#e0e7ff;

border-radius:50%;

top:50%;

left:50%;

transform:translate(-50%,-50%);

}


.profile-image{

width:320px;

height:320px;

object-fit:cover;

border-radius:20px;

position:relative;

box-shadow:0 20px 40px rgba(0,0,0,0.15);

transition:.4s;

}


.profile-image:hover{

transform:translateY(-10px);

}



/* ABOUT */

.about-section{

padding:100px 0;

background:#f9fafb;

}


.about-image{

width:280px;

height:280px;

object-fit:cover;

border-radius:20px;

}


.section-title{

font-size:40px;

margin-bottom:20px;

}


.about-card{

background:white;

padding:20px;

border-radius:10px;

margin-bottom:15px;

box-shadow:0 5px 15px rgba(0,0,0,0.05);

transition:.3s;

}


.about-card:hover{

transform:translateY(-5px);

}



/* CONTACT */

.contact-section{

padding:100px;

}



/* MOBILE */

@media(max-width:768px){

.home-title{

font-size:40px;

}

.profile-image{

width:220px;

height:220px;

}

}
