body {

scroll-behavior: smooth;

}

.section {

padding: 100px 0;

margin-top: 50px;

}

#home {

background: linear-gradient(to right,#ff000000, #ff000000);

color: rgb(0, 0, 0);

height: 100vh;

display: flex;

align-items: center;

}