
body{

font-family:Segoe UI;

}


.navbar{

background:#000;

}


#home{

height:100vh;

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

color:white;

display:flex;

align-items:center;

}


.section{

padding:100px 0;

}


.skill-card{

transition:0.3s;

}


.skill-card:hover{

transform:translateY(-10px);

}


.project-card{

transition:0.3s;

}


.project-card:hover{

transform:scale(1.05);

}



/* Loader */

#loader{

position:fixed;

width:100%;

height:100%;

background:white;

display:flex;

justify-content:center;

align-items:center;

z-index:9999;

}


.spinner{

border:5px solid gray;

border-top:5px solid black;

border-radius:50%;

width:50px;

height:50px;

animation:spin 1s linear infinite;

}


@keyframes spin{

100%{

transform:rotate(360deg);

}

}


/* Progress */

#progress-bar{

height:5px;

background:yellow;

width:0;

position:fixed;

top:0;

}


/* Reveal */

.reveal{

opacity:0;

transform:translateY(50px);

transition:1s;

}


.reveal.active{

opacity:1;

transform:translateY(0);

}


/* Dark */

.dark{

background:black;

color:white;

}
